<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>title goes here</title>
    <meta charset="utf-8">
  </head>

  <body>
    <ul>
      <% @filenames.each do |file| %>
        <li>
          <a href="/<%= file %>"><%= file %></a>
        </li>
      <% end %>
    </ul>

    <% if params[:sort] == 'descending' %>
      <a href="/">Sort Ascending</a>
    <% else %>
      <a href="/?sort=descending">Sort Descending</a>
    <% end %>
  </body>
</html>
